
<div class="aboutus1 strongblue">
    <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
        {{ content }}
    {% endblock %}
    </div>
<h1> Your satisfaction is our motivation. </h1>
</div>
