
<div class="nodeclass">
    <br><br><br>

    <div class="box1">
        <div class="nodename">{{content.field_name_of_phone}}</div>
        <div class="nodebrand">by {{ content.field_brand}}</div>
        <div class="nodetags">{{content.field_tag}}</div>
        <div class="nodecost"{{content.field_price}}</div>
        <div class="nodeav">{{content.field_availability}}</div>
        <div class="btn"><a href="https://www.google.com"><input type="button"  value="Buy Now" id="mybutton"></a></div>
        <br><br><br><br><br>
    </div>

    <div class="box2">
        {{content.field_phone_image}}
    </div>
</div>
